<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Card Number</th>
                    <th>Edit Student</th>
                    <th>Delete Student</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let student of students">
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.cardNumber }}</td>
                    <td><a [routerLink]="[student.id]" class="btn btn-primary">Edit</a></td>
                    <td><a (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>