<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<div>
<nav class="navbar navbar-expand-sm bg-light">
   <div class="container-fluid">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a routerLink="" class="nav-link" routerLinkActive="active">
        Home Page
        </a>
      </li>

      <li class="nav-item">
          <a routerLink="student/login" class="nav-link" routerLinkActive="active">
          Log In
          </a>
        </li>
      <!-- <li class="nav-item">
        <a routerLink="students" class="nav-link" routerLinkActive="active">
          All Students
        </a>
      </li>  -->
      <!-- <li class="nav-item">
        <a routerLink="findByFirstName" class="nav-link" routerLinkActive="active">
          Search
        </a>
      </li>  -->
     
      <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="true">Admin Panel</a>
          <div class="dropdown-menu" style="right: auto; left: auto;">
              <a routerLink="student/add" class="nav-link" routerLinkActive="active">
                Create Student
              </a>
              <a routerLink="students" class="nav-link" routerLinkActive="active">
                  All Students
              </a>
              <a routerLink="findStudentByFirstName" class="nav-link" routerLinkActive="active">
                  Search Students
              </a>
              <a routerLink="teacher/add" class="nav-link" routerLinkActive="active">
                Create Teacher
              </a>
              <a routerLink="teacher" class="nav-link" routerLinkActive="active">
                All Teachers
              </a>
              <a routerLink="findTeacherByFirstName" class="nav-link" routerLinkActive="active">
                Search Teachers
              </a>
          </div>
          
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>