<body>
    <div class="container">
        <table id="example" class="table table-responsive w-100 d-block d-md-table" style="width:100%">
            <thead style="background: #090a11;">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Personal ID Number</th>
                    <th style="width: 33%;">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let teacher of teachers">
                    <td style="text-align: center;">{{ teacher?.firstName }}</td>
                    <td style="text-align: center;"> {{ teacher?.lastName }}</td>
                    <td style="text-align: center;">{{ teacher?.personalIdentificationNumber }}</td>
                    <td>
                        <div>
                            <a [routerLink]="[teacher.id]" class="btn btn-primary" style="margin-left: 40px;">
                                <i class="fa fa-pencil-square"></i> Edit User</a>
                            <a (click)="deleteStudent(teacher.id)" class="btn btn-danger" style="margin-left: 80px;"> <i
                                    class="fa fa-trash-o"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>