<nav class="navbar navbar-expand-sm" style="background: #090a11;">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <i class="fa fa-home" aria-hidden="true"></i> Home
    </a>
    <button class="navbar-toggler" type="button" style="color: aliceblue" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa fa-navicon"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="showLogin">
          <a class="nav-link" routerLink="login">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-university" aria-hidden="true"></i> About University</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="forum">
             Forums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="newforum">
             Create Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="newsubforum">
             Create Subforum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="newtopic">
             Create Topic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="newmessage">
             Create Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="subforums">
             Subforums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="topics">
             Topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="messages">
             Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
        </li>
        <li class="nav-item">
          <app-modal-basic></app-modal-basic>
        </li>
        <li class="nav-item" *ngIf="!showLogin">
          <a class="nav-link" href="chat">
            <i class="fa fa-comment" aria-hidden="true"></i> Group Chat</a>
        </li>
        <li class="nav-item" *ngIf="showAdminPanel">
            <a class="nav-link" routerLink="adminDashBoard">
              <i class="fa fa-comment" aria-hidden="true"></i>Admin Panel</a>
        </li>

        <li class="nav-item" *ngIf="showTeacherPanel">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
            <i class="fa fa-users" aria-hidden="true"></i> Teacher Panel</a>
          <div class="dropdown-menu" style="right: auto; left: auto; background-color: black">
            <a routerLink="student/add" class="nav-link" routerLinkActive="active">
              <i class="fa fa-plus-circle"></i>
              Create Student
            </a>
            <a routerLink="students" class="nav-link" routerLinkActive="active">
              <i class="fa fa-th-list"></i>
              All Students
            </a>
            <a routerLink="findStudentByFirstName" class="nav-link" routerLinkActive="active">
              <i class="fa fa-search"></i>
              Search Students
            </a>
            <a routerLink="teacher/add" class="nav-link" routerLinkActive="active">
              <i class="fa fa-plus-circle"></i>
              Create Teacher
            </a>
            <a routerLink="teacher" class="nav-link" routerLinkActive="active">
              <i class="fa fa-th-list"></i>
              All Teachers
            </a>
            <a routerLink="findTeacherByFirstName" class="nav-link" routerLinkActive="active">
              <i class="fa fa-search"></i>
              Search Teachers
            </a>
            <a routerLink="createCenter" class="nav-link" routerLinkActive="active">
              <i class="fa fa-plus-circle"></i>
              Create Center
            </a>
            <a routerLink="createSp" class="nav-link" routerLinkActive="active">
              <i class="fa fa-plus-circle"></i>
              Create Study Program
            </a>
            <a routerLink="register" class="nav-link" routerLinkActive="active">
              <i class="fa fa-plus-circle"></i>
              Register User
            </a>
          </div>
        </li>
        <li class="nav-item" *ngIf="showStudentPanel">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
            <i class="fa fa-users" aria-hidden="true"></i> Student Panel</a>
          <div class="dropdown-menu" style="right: auto; left: auto; background-color: black">
            <a routerLink="courseMaterialPage" class="nav-link" routerLinkActive="active">
              <i class="fa fa-book"></i>
              Course Material Page
            </a>
          </div>
        </li>
        <li class="nav-item" *ngIf="!showLogin">
          <button style="height:36px; margin-left: 10px; margin-top: 3px;" (click)="signOut()"
            class="btn btn-outline-info" aria-hidden="true"><i class="fa fa-sign-out"></i> Sign Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>























<!-- <nav class="navbar navbar-expand-sm bg-light">
   <div class="container-fluid">
    <ul class="navbar-nav">
      
      <li class="nav-item">
          <a class="nav-link" routerLink=""> 
              <i class="fa fa-home" aria-hidden="true"></i> Home
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink=""> 
              <i class="fa fa-university" aria-hidden="true"></i> About University
          </a>
      </li>


      <li class="nav-item">
          <a routerLink="student/login" class="nav-link" routerLinkActive="active">
          Log In
          </a>
        </li>
     
      <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="true">Admin Panel</a>
          <div class="dropdown-menu" style="right: auto; left: auto;">
              <a routerLink="student/add" class="nav-link" routerLinkActive="active">
                Create Student
              </a>
              <a routerLink="students" class="nav-link" routerLinkActive="active">
                  All Students
              </a>
              <a routerLink="findStudentByFirstName" class="nav-link" routerLinkActive="active">
                  Search Students
              </a>
              <a routerLink="teacher/add" class="nav-link" routerLinkActive="active">
                Create Teacher
              </a>
              <a routerLink="teacher" class="nav-link" routerLinkActive="active">
                All Teachers
              </a>
              <a routerLink="findTeacherByFirstName" class="nav-link" routerLinkActive="active">
                Search Teachers
              </a>
          </div>   
      </li>
      <li class="nav-item">
        <app-modal-basic></app-modal-basic>
      </li>
    </ul>
  </div>
</nav> -->