<div class="card">
    <h2 class="header">Enter your credentials here !</h2>
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Card Number: </label>
          <input type="text" class="form-control" formControlName="cardNumber" #cardNumber />
        </div>
        <div *ngIf="angForm.controls['cardNumber'].invalid && (angForm.controls['cardNumber'].dirty || angForm.controls['cardNumber'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['cardNumber'].errors.required">
            Card Number is required.
          </div>
          
        </div>
        <div class="form-group">
            <label class="col-md-4">Password: </label>
            <input type="password" class="form-control" formControlName="pass" #pass />
          </div>
          <div *ngIf="angForm.controls['pass'].invalid && (angForm.controls['pass'].dirty || angForm.controls['pass'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['pass'].errors.required">
              Password is required.
            </div>
          </div>  
        <div class="form-group">
          <button (click)="logInStudent(cardNumber.value, pass.value)"
              [disabled]="angForm.pristine || angForm.invalid" 
              class="btn btn-primary">
              Log In
           </button>
      </div>
      </form>
    </div>
  </div>
  
  