<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()" class="search">
    <div class="form-group">
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="firstName" name="firstName" placeholder="Search Students By Name">
    </div>
  </form>
</div>
<ul>
  <br>
  <table *ngFor="let student of students">
    <tbody>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Card Number</td>
      </tr>
      <tr>
        <td>{{student.firstName}}</td> 
        <td>{{student.lastName}}</td>
        <td>{{student.cardNumber}}</td>
      </tr>
    </tbody>
  </table>
  
</ul>