<body>
  {{title}}
  <img class="card-img-top" [src]="transform(pic, mimetype)" height="200" width="200" alt="">


  <div class="list-group">
    <h2 class="text">Student Shortcuts</h2>
    <a routerLink="#" class="list-group-item list-group-item-action">About Course</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Sylabus</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Informations</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Student Results</a>
  </div>
  <hr style="width: 20%;">
  <div class="list-group " style="margin-bottom:10px;">
    <h2 class="text">Lectures</h2>
    <a routerLink="#" class="list-group-item list-group-item-action">First colloquium</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Second colloquium</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Final Exam</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Additional material</a>
  </div>
  <hr style="width: 20%;">
  <div class="list-group">
    <h2 class="text">Exercise</h2>
    <a routerLink="#" class="list-group-item list-group-item-action">First colloquium</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Second colloquium</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Final Exam</a>
    <a routerLink="#" class="list-group-item list-group-item-action">Additional material</a>
  </div>

</body>